// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.icon {
  color: #000;
  text-decoration: none;
  border: none;
}