<ul class="nav nav-list">
  <li class="nav-header">Customers</li>
  <li class="active"><%= link_to "View Customers", customers_path %></li>
  <li class="nav-header">Projects</li>
  <li><a href="#">Link</a></li>
  <li class="nav-header">Tasks</li>
  <li><a href="#">Link</a></li>
</ul>